.habilidades{
    padding: 80px 4%;
    display: flex;
}

.habilidades .flex{
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    display: flex;
}

.habilidade_box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
    margin: center;
    display: flex;
    position: relative;
}

.habilidade_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--color-primary-4);
}

.habilidade_box i{
    font-size: 60px;
    color: var(--color-primary-4);
    display: flex;
    margin-top: 10px;
}