@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('home.css');
@import url('habilidades.css');
@import url('portfolio.css');
@import url('formulario.css');
@import url('footer.css');

:root{
    --color-primary-1: #0A0E26;
    --color-primary-2: #ffffff95;
    --color-primary-3: #ffffff;
    --color-primary-4: #0DCBFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--color-primary-1);
    margin: 0;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.nome{
    color: var(--color-primary-4);
}
.title{
    color: var(--color-primary-3);
    text-align: center;
    font-size: 38px;
}

.title span{
    color: var(--color-primary-4);
}

a{
    text-decoration: none;
    color: var(--color-primary-2);
    transition: .2s;
}

a:hover{
    color: var(--color-primary-4);
}

ul{
    list-style: none;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-primary-1);
    padding: 28px 8%;
    z-index: 10;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra{
    display: flex;
}

.barra-superior{
    display: flex;
    gap: 48px;
}


.mobile-menu, .mobile-btn{
    display: none;
}

@media(max-width: 1170px){
    .barra{
        display: none;
    }

    .mobile-btn{
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--color-primary-4);
    }

    .mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}